/* CSS crunched with Crunch - http://crunchapp.net/ */
.standard-text{font-family:Tahoma,Geneva,sans-serif;font-size:15px;color:#303030;text-shadow:1px 1px rgba(0, 0, 0, 0.1);}
body{background-color:#36393B;color:#fff;font-family:Tahoma,Geneva,sans-serif;font-size:15px;color:#303030;text-shadow:1px 1px rgba(0, 0, 0, 0.1);}
.container{background-color:#fff;-webkit-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.3);-moz-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.3);box-shadow:5px 5px 10px rgba(0, 0, 0, 0.3);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.header{font-family:'Geo';color:orange;margin-bottom:50px;font-size:25px;overflow:auto;}.header .title{font-size:100px;letter-spacing:-10px;color:#696758;margin:30px;}
.middle-div{margin:0px auto;}
